<div class="row">
  <div class="col-md-6">
    <h1>uPost Board</h1>
    <%= form_for @bulletin do |f| %>

      <div class="form-group form-group-lg">
        <%= f.label :title, class: "hidden" %>
        <%= f.text_field :title, class: 'form-control text-center', placeholder: "Enter Bulletin Title" %>
      </div>

      <div class="form-group">
        <%= f.label :body, class: "hidden" %>
        <%= f.text_area :body, rows: 17, class: 'form-control text-center', placeholder: "Enter bulletin body" %>
      </div>

      <div class="pull-left form-group">
        <%= f.submit "Post", class: 'btn btn-lg btn-success' %>
      </div>

      <div class="pull-right">
        <%= link_to "Cancel", root_path, class: 'btn btn-lg btn-danger' %>
      </div>

    <% end %>
  </div>
</div>
